.content{
	display: grid;
	justify-content: center;
}

.card{
	width:550px;
	border: 1px solid black;
	border-radius: 5px;

	
}

.card-heading{

	background-color: #aaa;
	padding-left: 20px;

}

.card-heading h1{
	margin:0;
	padding:20px 0 20px 0px; 
	color:White;
	font-family: 'Lato', 'Arial', sans-serif;
}

.card-body{
	padding:30px 20px 10px 20px;

}

.card-footer{
	display: flex;
	flex-direction: row-reverse;
	background-color: #aaa;
	padding: 20px 20px;

}

label{
	font-family: 'Lato', 'Arial', sans-serif;
}

input, textarea{
	width: 98%;
	border-radius: 5px;
	padding: 5px 5px;
}

select{
	background: green;
	width: 100%;
	border-radius: 5px;
	padding: 5px 5px;

}

.btn{
	background-color: green;
	padding: 8px;
	border-radius: 5px;
	color:white;
}


header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.menu li{
	display: inline-block;
	padding-right: 8px;
	color:green;
	font-family: 'Lato', 'Arial', sans-serif;

}

.logo{
	font-family: 'Lato', 'Arial', sans-serif;
	color:green;
	font-size: 24px;
	padding-top: 8px;
}